spring:
  application:
    name: erp-springboot
  config:
    import: optional:file:.env[.properties]
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  flyway:
    enabled: false
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: false
    open-in-view: false
  security:
    user:
      name: ${SECURITY_USER}
      password: ${SECURITY_PASSWORD}

app:
  jwt:
    secret: ${APP_JWT_SECRET}

logging:
  level:
    com.jpriva.erpsp: DEBUG
